
.row.manager-users-index
  .columns-12.large
    %h3 Users

    %ul.large-block-grid-3
      - @users.each do |user|
        %li.item
          <b>#{user.username}</b>
          %ul
            %li.email #{user.email}
            %li <b>#{user.reports.length}</b> reports
            %li <b>#{user.galleries.length}</b> galleries
            %li <b>#{user.videos.length}</b> videos

