
.manager-galleries-show
  .row
    .large-12.columns
      .center Gallery
      %h2.center
        #{@gallery.name} (#{@photos.length})
        = link_to '[~]', edit_manager_gallery_path( @gallery )
        [x]
      .center= @gallery.galleryname
      = render 'manager/galleries/meta', :gallery => @gallery
      
      .mini
        %ul
          - @photos.each do |photo|
            %li.item= image_tag photo.photo.url( :mini ), :alt => ''

      .spacer{ :style => 'height: 500px' }
        
      .thumbs
        %ul
          - @photos.each do |photo|
            %li.item
              = link_to '[x]', manager_photo_path( :id => photo.id ), :method => :delete, :confirm => 'Are you sure?'
              %br
              = image_tag photo.photo.url( :thumb ), :alt => ''

      .large
        %ol
          - @photos.each do |photo|
            %li.item
              = image_tag photo.photo.url( :large ), :alt => ''
